<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ADao">

	<resultMap type="A" id="a">
		<id property="id" column="id" />
		<result  property="a" column="a" />
	</resultMap>
 	
 	<select id="getAById" resultMap="a">
  		SELECT * FROM a WHERE id = #{id}
 	</select>

</mapper>